// IMPORT .SCSS
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import 'mixin.scss';
@import 'vars.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body{
    width: 768rem;
    height: 90rem;
    font-family: 'Oswald';
    background-color: $secondColor;
}

.wrapper{
    display: flex;
    position: relative;
}

// TIMER
.timer {
    @include blockStyle;
    background-color: $firstPageMainColor;
    // position: relative;

    // .timer__inner

    &__inner {
        @include innerStyle;
        width: 85rem;
    }

    // .timer__title

    &__title {
        @include title;
        color: $firstPageMainColor;
    }

    // .timer__wrapper

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 4rem;
    }

    // .timer__block

    &__block {
        width: 18rem;
        padding: 2rem;
        background-color: $firstPageMainColor;
        border-radius: 1rem;
        font-size: 2rem;
        color: $secondColor;
        font-weight: 600;
        letter-spacing: .1rem;
    }
    &__span{
        font-size: 5rem;
        font-weight: 700;
    }
}
// //TIMER

// GAME
.game {
    @include blockStyle;
    background-color: $twoPageMainColor;
    position: relative;

    // .game__inner

    &__inner {
        @include innerStyle;
        width: 54rem;
    }

    // .game__title

    &__title {
        @include title;
        color: $twoPageMainColor;
    }

    // .game__wrapper

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    // .game__block

    &__block {
        width: 15rem;
        height: 15rem;
        border-radius: 1rem;
        background-color: $twoPageMainColor;
        margin: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        font-weight: 700;
        color: $secondColor;
        cursor: pointer;

        &:hover{
            cursor: pointer;
            opacity: .8;
        }
    }
	// .game__modal

    &__modal {
        display: none;
    }

    // .game__overlay

    &__overlay {
        width: 192rem;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        background-color: rgba(0,0,0,.8);
    }

    // .game__wrapper

    &__modal_wrapper {
        width: 54rem;
        height: 20rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 3rem;
        border-radius: 1rem;
    }

    // .game__content

    &__content{
        text-align: center;
        font-size: 5rem;
        color: $twoPageMainColor;
    }

    // .game__close

    &__close {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 3rem;
        font-weight: 700;
        color: #fff;
        text-align: center;
        border-radius: 0 0 1rem 1rem;
        padding: 1rem;
        background-color: $twoPageMainColor;
        cursor: pointer;
    }
}

// CLICKER
.clicker {
    @include blockStyle;
    background-color: $threePageMainColor;
    position: relative;

    // .clicker__inner

    &__inner {
        @include innerStyle;
        width: 54rem;
    }

    // .clicker__title

    &__title {
        @include title;
        color: $threePageMainColor;
    }

    // .clicker__wrapper

    &__wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    // .clicker__score

    &__score{
        position: absolute;
        display: block;
        right: 0;
        bottom: -2rem;
        font-size: 10rem;
        font-weight: 700;
        color: $threePageMainColor;

    }

    // .clicker__block

    &__btn {
        cursor: pointer;
        width: 25rem;
        height: 15rem;
        border-radius: 1rem;
        background-color: $threePageMainColor;
        border: none;

        &:hover{
            @include hover;
        }
    }
}

.clicker__active{
    width: 23rem;
    height: 13rem;
}
// //CLICKER



// WORDS
.words {
    @include blockStyle;
    background-color: $fourPageMainColor;
    position: relative;

    // .words__inner

    &__inner {
        @include innerStyle;
        width: 50rem;
    }

    // .words__title

    &__title {
        @include title;
        color: $fourPageMainColor;
    }

    // .words__wrapper

    &__wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    // .words__input

    &__input {
        width: 18rem;
        padding: 1rem;
        border-radius: .5rem;
        border: none;
        background-color: $fourPageMainColor;
        outline: none;
        color: $secondColor;
        font-size: 2rem;

        
    }

    // .words__btn
    
    &__btn {
        border: none;
        background-color: $fourPageMainColor;
        color: $secondColor;
        padding: 1rem 1.5rem;
        border-radius: .5rem;
        font-size: 3rem;
        font-weight: 900;

        &:hover{
            @include hover;
        }
    }

    // .words__block

    &__block{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1rem;
    }
}
.effect{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(190,190,190,.7);
}

.modal{
    width: 40rem;
    height: 30rem;
    background-color: #fff;
    border-radius: .5rem;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    &__text{
        font-size: 6rem;
        font-weight: 900;
        letter-spacing: .5rem;
        color: $fourPageMainColor;
    }
}
.error{
    opacity: .8;
}

// //WORDS
.add_wrapper{
    margin: 0 1rem 3rem 1rem;
    font-size: 2rem;
    color: $fourPageMainColor;
    background-color: $secondColor;
    border-radius: .5rem;
    padding: .5rem 5rem .5rem 1rem;
    position: relative;
    border: .3rem solid $secondColor;
}
.add_en{}
.add_ru{}
.add_delete{
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background-color: $fourPageMainColor;
        height: 100%;
        width: 3.5rem;
        font-size: 3rem;
        color: $secondColor;
        border-radius: .5rem;

        &:hover{
            @include hover;
        }
    }

.fade {
    animation: fade .5s;
}

@keyframes fade {
    from{
        opacity: .8;
    }
    to{
        opacity: 1;
    }
}

// //GAME

.link {
    position: fixed;
    z-index: 10;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    // .link__menu

    &__menu {
        width: 55rem;
        display: flex;
        justify-content: space-between;
    }

    // .link__item

    &__item {
        list-style: none;
    }

    // .link__btn

    &__btn {
        display: block;
        font-size: 2.4rem;
        color: #fff;
        text-decoration: none;
        transition: all .2s ease-in-out;
        &:hover{
            transform: translateY(-.5rem);
        }
    }
    &__last{
        border: none;
        padding-right: 0;
    }
}

.social {
    position: fixed;
    z-index: 10;
    right: 3rem;
    bottom: 3rem;
    display: flex;
    flex-direction: column;

    // .social__link

    &__link {
        text-decoration: none;
        // margin: 1rem 0;
        font-size: 3rem;
        color: #fff;
        transition: all .2s ease-in-out;
        &:hover{
            // transform: translateX(-.5rem);
            transform: scale(1.1);
        }
    }
}
